<div class="">
  <h1 class="text-center text-muted">Hello from darshan</h1>
</div>
<hr>
<!-- <div class="container-fluid">
  <h1 class="style">Again hello from darshan</h1>
</div>
<div class="container-md">
  <h1 class="style">small conatiner</h1>
</div> -->
<div class="container">
  <div class="row bg-primary text-white p-2">
    <div class="col">
      First column
    </div>
    <div class="col">
      Second column
    </div>
  </div>
</div>

<div class="container">
  <div class="row bg-warning p-2">
    <div class="col">col</div>
    <div class="col">col</div>
    <div class="w-100"></div>
    <div class="col">col</div>
    <div class="col">col</div>
  </div>
</div>

<div class="container">
  <div class="row bg-danger p-2">
    <div class="col">col</div>
    <div class="col">col</div>
  </div>
  <div class="row bg-danger p-2">
    <div class="col">col</div>
    <div class="col">col</div>
  </div>
</div>

<div class="container">
  <div class="row bg-dark text-light p-2" style="border-top: 1px solid white">
    <div class="col">col</div>
    <div class="col-6 text-muted">col-6</div>
    <div class="col">col</div>
  </div>
</div>

<p>this is simple paragraph. Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quibusdam aliquam natus minus aperiam laudantium atque sunt, quasi optio numquam dolorem deserunt odit quia consectetur, saepe inventore molestias quam nostrum beatae!</p>
<p class="lead">this is special paragraph. Lorem, ipsum dolor sit amet consectetur adipisicing elit. Laborum numquam, doloremque veniam quis quas velit ipsa ullam fugit vel qui nesciunt reiciendis autem ea quam repellendus, possimus ipsam eos sapiente.</p>
<p><abbr title="HyperText Markup Language" class="">HTML</abbr></p>
<blockquote class="blockquote">
  <p class="mb-0">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
</blockquote>
<blockquote class="blockquote">
  <p class="mb-0">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
  <footer class="blockquote-footer"><kbd><kbd>inner-kbd</kbd></kbd>  in <cite title="Source Title">Source Title</cite></footer>
</blockquote>

<div *ngIf="alert" class="container alert alert-primary alert-dismissible fade show">
    <div class="h3 alert-heading">Alert<span class="ml-2 badge badge-danger">4</span></div>

    <button class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span></button>
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Pariatur perspiciatis reiciendis nihil quo, dolor nobis architecto! Quod sapiente officiis modi nam veritatis veniam doloribus! Eum ullam cum adipisci totam facere.</p>
    <a routerLink="/login" class="alert-link">click</a>
</div>

<div *ngIf="!alert" class="container text-center">
  <span class="badge badge-pill badge-dark p-3 display-4">pill-demo</span>
</div>

<nav aria-label="breadcrumb">
  <ol class="breadcrumb bg-warning text-light">
    <li class="breadcrumb-item active" aria-current="page">Home</li>
  </ol>
</nav>

<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="#">Home</a></li>
    <li class="breadcrumb-item active" aria-current="page">Library</li>
  </ol>
</nav>

<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="#">Home</a></li>
    <li class="breadcrumb-item"><a href="#">Library</a></li>
    <li class="breadcrumb-item active" aria-current="page">Data</li>
  </ol>
</nav>
<div class="card" style="width: 25rem;">
  <img src="" class="card-img-top" alt="picture will be coming soon">
  <div class="card-body">
    <h5 class="card-title">Card title</h5>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    <a href="#" class="btn btn-primary">Go somewhere</a>
  </div>
</div>

<hr>
<br>
<br>
<br>
<p class="text-center rotate-text">SCSS Example </p>
<hr>
<br>
<br>
<p class="message-error">Message error</p>
<p class="server-error">Server error</p>
<p class="client-error">Client error</p>
